#page-title{
    display:flex;
    align-items: center;
    justify-content: center;
}
#flex-container{
    display:flex;
    
}
.container{
    display:flex;
}
img{
    height: 300px;;
    width:200px;
    /* padding-right: 2rem;
    padding-top: 2rem; */
    padding:2rem;
    background-color: whitesmoke;
    border: 2px solid rgb(245, 236, 236);
    border-radius: 5px;
}

/* .product-details{
    position:relative;
} */
.product-type{
    color:lightslategrey;
    display: inline-block;
    padding:1rem;
    font-size: 1.5rem;
}
.product-name{
    padding:1rem;
    font-size: 2rem;
}
.product-description{
    padding:1rem;
    margin-bottom: 1.5rem;
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

.product-price{
    padding:1rem;
    margin-bottom: 1.5rem;
    color:blueviolet;
    font-size: larger;
    font-weight: bold;
}
.dicounted-price{
    font-size: small;
    color:lightslategray;
    padding:1rem;
}
.add-to-cartbtn{
    display: flex;
    align-items: center;
    background-color: rgb(115, 0, 255);
    border:none;
    color:white;
    font-size:medium;  
    padding: 1rem;
    margin-left: 2rem;
    border-radius: 0.5rem;
}