
/* .product-name{
    flex-wrap: wrap;
} */
img{
    height: 300px;;
    width:300px;
    padding-right: 2rem;
}
.product-type{
    color:lightslategrey;
    display: inline-block;
    padding:2rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}
.product-name{

}
.product-description{
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
.container{
    padding:5rem 1rem;
    margin:1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.product-details{
    position:relative;
}
.add-to-cartbtn{
    background-color: rgb(115, 0, 255);
    border:none;
    color:white;
    font-size:medium;  
    padding: 1rem;
    border-radius: 0.5rem;
}
.product-price{
    color:blueviolet;
    font-size: larger;
    font-weight: bold;
}