body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #f7f7f7;
  margin: 20px;
}

h1 {
  text-align: center;
}

button {
  background-color: #4c89af;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  font-size: medium;
}

/* To improve the look of your list, try removing the default margin on the <ul> 
   and the bullet points on the <li> items. This isn't always necessary, but it matches the style you're going for. :) */

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  border: 1px solid rgb(234, 219, 219);
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  width: 220px;
  text-align: center;
}
